<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carrotmarket">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LoginApplicationKakao"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarrotMarket"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".bottom04.changeCity.changeCityActivity"
            android:exported="false" />
        <activity
            android:name=".bottom02.types.TypeActivity"
            android:exported="false" />
        <activity
            android:name=".bottom02.townRegistration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.Interest.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".join.KakaoMapActivity"
            android:exported="false" />
        <activity
            android:name=".join.LocationMapsActivity"
            android:exported="false" />
        <activity
            android:name=".join.LocationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".join.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".bottom03.ChattingActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.question.QuestionListActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.question.QuestionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.question.WriteAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.question.WriteQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.notice.NoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.notice.WriteNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.notice.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.myPost.myPostActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.setting.InfoChangeActivity"
            android:exported="false" />
        <activity
            android:name=".bottom04.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".join.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bottom01.update.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".bottom01.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".bottom01.registration.registrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- FCM 메세지 수신 서비스 등록 -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6e79090ffd244797258921cdc6e84985" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao6e79090ffd244797258921cdc6e84985" />
            </intent-filter>
        </activity>
    </application>

</manifest>